{% extends 'base.html' %}

{% block main %}
	<table id="table_id" class="display">
	    <thead>
	        <tr>
	            <th>Descrição</th>
	            <th>Ramal</th>
	            <th>Editar</th>
	        </tr>
	    </thead>
	    <tbody>
	{% for depart in departament_list %}
	        <tr>
	            <td>{{depart.descricao}}</td>
	            <td>{{depart.ramal}}</td>
	            <td>
	            		<a href="{% url 'url_departament_edit' depart.id %}">
	            			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
	            		</a>
	            	</td>
	        </tr>
	{% endfor %}
	    </tbody>
	</table>

	<a href="{% url 'url_departament_new' %}" class="btn btn-default">Novo</a>
{% endblock %}