{% extends 'base.html' %}

{% block main %}
	<table id="tabela_geral" class="display" width="100%" cellspacing="0">
	    <thead>
	        <tr>
	            <th>Questão</th>
	             <th>Funcionário Avaliado</th>	            
	            <th>Data Avaliação</th>	            
	            <th>Resposta</th>
	        </tr>
	    </thead>
	    <tbody>
	{% for resposta in respostas %}
	        <tr>
	            <td>{{resposta.questao}}</td>	            
	            <td>{{resposta.avaliacao.func_avaliado}}</td>	            
	            <td>{{resposta.avaliacao.data_avaliacao}}</td>	                     
	            <td>{{resposta.resposta}}</td>	                     
	        </tr>
	{% endfor %}
	    </tbody>
	</table>

{% endblock %}