{% extends 'base.html' %}

{% block main %}
	<table id="tabela_geral" class="display" width="100%" cellspacing="0">
		
	    <thead>
	        <tr>
	            <th>Questões</th>	           
	            <th>Status</th>
	            <th>Responder</th>	            
	        </tr>
	    </thead>
	    <tbody>
	{% for questao in questoes %}
		
	        <tr>
	            <td>{{questao.questao}}</td>	            
	            <td>{% if questao.avaliacao.finalizada == False %}Aberta{% endif %}</td>
	            <td>
	            		<a href="{% url 'url_questao_resp' questao.id %}">
	            			<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
	            		</a>
	            	</td>
	        </tr>
	{% endfor %}
	    </tbody>
	</table>	
{% endblock %}