{% extends 'base.html' %}

{% block main %}
	<table id="table_id" class="display">
		
	    <thead>
	        <tr>
	            <th>Questões</th>	           
	            <th>Status</th>
	            <th>Responder</th>	            
	        </tr>
	    </thead>
	    <tbody>
	{% for questao in questoes %}
	        <tr>
	            <td>{{questao.texto}}</td>	            
	            <td>Aberta</td>
	            <td>
	            		<a href="">
	            			<span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
	            		</a>
	            	</td>
	        </tr>
	{% endfor %}
	    </tbody>
	</table>	
{% endblock %}

#{% url 'url_questao_resp' ava.questionario.id ava.questao.id %}